body {
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #FAFAFA;
  font-family: Inter, Sans-serif;
  color: #202020;
  font-size: 14px;
  line-height: 22px;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
  background-color: #202020;
  border: solid 2px #202020;
  border-bottom: none;
}

section {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #fafafa;
  border-bottom: solid 2px #202020;
  width: 100%;
  margin: 0;
  padding: 0.5em;
}

nav {
  display: inline-flex;
  column-gap: 8px;
  flex-direction: row;
  padding: 0 1em;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border-top: solid 2px #202020;
}

content {
  grid-column-start: 1;
  grid-column-end: 5;
}

article {
  position: relative;
  margin-top: 50px;
  margin-left: 40px;
  max-width: 240px;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

h1:hover {
  color: #E3533F;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0 0 4px 0;
}

h3 {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

h3 + p {
  margin-top: 0;
}

p {
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #202020;
}

a:hover {
  color: #E3533F;
}



/* Grid */
.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.cover {
  background-color: #fafafa;
}

.cover__texts {
  padding: 8px;
}

.cover__by {
  color: #c4c4c4;
}


/* Project page */
.chapter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

p:first-of-type {
  margin-top: 0;
}

img {
  width: 100%;
}

.big-text {
  font-size: 18px;
  line-height: 28px;
}

.credits p {
  margin: 4px 0;
}

.credit-position {
  color: #b2b2b2;
}


/* Projects */
.project__photos {
  padding: 24px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.project__photos::-webkit-scrollbar {
  display: none;
}

.project__texts {
  padding: 24px 0 0 8px;
  border-left: solid 2px #202020;
}

.project__title {
  margin: 0;
  margin-bottom: 16px;
}

.project__description {
  padding-right: 35%;
}

.project__credits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 32px;
  margin-top: 64px;
}

.project__credits div {
  border-top: solid 2px #202020;
  padding-top: 4px;
}

.project__credits p {
  margin: 0;
}


/* Navigation */
.btn {
  font-size: 14px;
  text-transform: lowercase;
  margin: 0 15px 0 0;
  color: #ccc;
}

.btn:hover {
  color: #202020;
}

.btn.active {
  color: #202020;
  text-transform: lowercase;
  font-weight: 500;
}

.tab-buttons {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-start;
  margin-top: 6px;
}

.graph {
  height: auto;
  display: block;
  background-color: #FAFAFA;
}

.dataUpdate {
  margin-top: 0;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
}

.linkProject {
  font-size: 14px;
}

.linkProject.active {
  color: #E3533F;
  font-weight: 500;
}

.menuProjectTitle {
  text-transform: lowercase;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.source {
  grid-column-start: 4;
  grid-column-end: 4;
}

.source p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}



/* Graphs */
.micro {
  background-color: #fafafa;
  height: 150px;
}

#chartMap {
  margin: 0;
  height: 500px;
}

#chartDaily path {
  stroke: none;
  fill: none;
}

#chartDaily .tick line {
  stroke: #000;
  opacity: .1;
  stroke-dasharray: 4, 4;
}

.titleYaxis {
  font-size: 14px;
}

.titleXaxis {
  font-size: 12px;
}

.axisColor text {
  fill: #202020;
  font-family: Manrope;
  font-size: 12px;
}

.axisColor line {
  display: none;
}

.value {
  color: #FAFAFA;
  display: block;
  font-size: 14px;
}

.statsNumber {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  fill: #E3533F;
}

.statsTitle {
  margin: 0 0 4px 0;
  font-size: 14px;
}

.sparkline {
    fill: none;
    stroke: #202020;
    stroke-width: 1px;
}
.sparkcircle {
    fill: #E3533F;
    stroke: none;
}

/* Scrollama */
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 800px;
  height: 90vh;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #FAFAFA;
}

figure p {
  position: absolute;
  top: 5%;
  left: 5%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
}

.step {
  margin: 40px auto 2rem auto;
  color: #202020;
}

.step:last-child {
  margin-bottom: 500px;
}