@media only screen and (max-width: 481px) {

body {
  overflow-x: hidden;
  width: 95%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

footer {
  position: static;
  margin-top: 240px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 16px 0;
}

.logo {
  width: 100px;
  height: auto;
  margin: 0;
}

.linkMain {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.linksOuter {
  display: none;
  position: static;
  font-size: 14px;
  line-height: 22px;
}

.menuProjects {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

content {
  margin: 0;
  display: flex;
  flex-direction: column;
  grid-template-columns: none;
}

h2 {
  margin: 20px 0;
}

li {
	display: inline;
	margin-left: 12px;
}

footer li {
	margin-left: 0;
	margin-right: 12px;
}

.row {
  display: flex;
  flex-direction: column;
}

.empty {
  display: none;
}

#chartDaily {
	overflow: scroll;
	width: 100%;
}

#chartHeatmap {
	overflow: scroll;
	width: 100%;
}

.micro {
	margin-bottom: 20px;
}

.cover {
	background-size: cover;
}

}