@media only screen and (max-width: 481px) {

body {
  overflow-x: hidden;
  width: 95%;
  margin: 0 auto;
}

header {
  display: none;
}

content {
  margin: 0;
  display: flex;
  flex-direction: column;
  grid-template-columns: none;
}

h2 {
  margin: 20px 0;
}

.row {
  display: flex;
  flex-direction: column;
}

}